
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;1,300&family=Montserrat:wght@100;400&family=Roboto+Mono&display=swap');

/*@font-face {
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Mono', monospace;
}*/

* {
    color: rgba(203,212,250,1);
}

html {
    font-family: 'Fira Sans';
}

/*Nav Settings*/
nav {
    background-color: rgba(60,78,104,.9);
    position: fixed;
    width: 100%;
    z-index: 900;
}

.logoContainer {
    display: flex;
    justify-content: space-between;
}

h1 {
    font-family: 'Montserrat';
}

.navLinkContainer {

}

.navLinkBox {

}

.navLink {
    font-family: 'Montserrat';
}

#aboutLink {

}

#skillLink {

}

#projectLink {

}

#corpoLink {

}

#contactLink {

}

/* Content Section*/
body {
    background-color: rgba(22,32,53,1);
}

.sectionContainer {
    background-image: url('./images/mountainBackground.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    padding: 10px 10px;
    height: 80%;
    margin-bottom: 900px;

}

h2 {
    font-family: 'Roboto Mono';
}

button {
    font-family: 'Roboto Mono';
}


/*Color Pallet Swatches*/
/*Box Config*/
.colorPalletSection {
    display: flex;
    width: 100%;
    justify-content: center;
}

.pallet {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(191, 203, 201, 0.5);
    color: #33330a;
    padding: 15px 20px;
}

.palletTitle {
    display: flex;
    width: 100%;
    color: inherit;
    text-align: center;
    font-weight: bold;
}

.palletlist {
    display: flex;
    justify-content: center;
    align-items: center;
}

.palletColor {
    display: flex-box;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
}

.colorbox {
    height: auto;
    width: 150px;
}

.colorN {
    color: #33330a;
    text-align: center;
    font-weight: bold;
}
/*ColorConfig*/
.box1 {
    background-color: rgba(22,32,53,1);
    height: 50px;
    width: 50px;
}
.box2 {
    background-color: rgba(128,158,234,1);
    height: 50px;
    width: 50px;
}
.box3 {
    background-color: rgba(203,212,250,1);
    height: 50px;
    width: 50px;
}
.box4 {
    background-color: rgba(78,99,142,1);
    height: 50px;
    width: 50px;
}
.box5 {
    background-color: rgba(45,97,168,1);
    height: 50px;
    width: 50px;
}
.box6 {
    background-color: rgba(60,78,104,1);
    height: 50px;
    width: 50px;
}
.box7 {
    background-color: rgba(76,131,210,1);
    height: 50px;
    width: 50px;
}
.box8 {
    background-color: rgba(178,212,251,1);
    height: 50px;
    width: 50px;
}
.box9 {
    background-color: rgba(69,107,175,1);
    height: 50px;
    width: 50px;
}
